<% var user,change,table,flag,form,appointment,search,date,slot,patient,email; %>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/jquery.js"></script>

    <title>Appointment</title>
     <style>
         body {
  padding-top: 50px;
   font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 16px;
}



.navbar { padding:10px 0; }
.navbar-inverse { 
  background-color: #1F6EA9; 
  border: none; 
  border-bottom: 2px solid white; 
}

.navbar-inverse .navbar-brand{
  color: white;
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
}

.navbar-inverse .navbar-brand:hover {
  color: #17537F;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #17537F;
}


.banner {
    background: url('http://cdn.supercell.com/supercell.com/151120111628/all/themes/supercell/img/parallax/coc_fallback_large.jpg');
    background-repeat:no-repeat;
    background-position: top center;
    background-size: cover;
height: 80%;
 
}
header .container {
  padding-top: 100px;
  padding-bottom:200px;
  text-shadow:  2px 2px 0px rgba(150, 150, 150, 1);  
}


header .btn {
  border-color: #1F6EA9;
  background-color: white;
  text-shadow: none;
}

.intro-text .naslov {
  display: block;
  font-family: 'Luckiest Guy', cursive;
  font-size: 70px; 
  color: white;
}

h2 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px; 
  color: #1F6EA9;
  padding-top: 30px;
  padding-bottom: 30px;
  
}

.ikonica {
  font-size: 50px;
  padding: 20px

}
.intro-text .tekst {
color: white;
  text-shadow:  1px 1px 15px rgba(0, 0, 0, 1);
font-weight: bold;
    padding: 30px 0;
}



hr.star-primary {
    margin: 25px auto 30px;
    padding: 0 0 30px 0; /* samo bottom ima padding */
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
     border-color: #1F6EA9;
}

hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
  color: #1F6EA9;
    background-color: #fff;
}

footer, #portfolio {
  background-color: #EEEFEF;
  padding: 30px 0;
}

#portfolio hr.star-primary:after {
  background-color: #EEEFEF;
}
.dropbtn {
  background-color:transparent;
  color: white;
  padding: 16px;
  font-size: 17px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

     </style>
  </head>

  <body>
      
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login/<%= user[0].username %>/home?table=receptionist">Home</a></li>
            <li> <a href="/login/<%= user[0].username %>/register">Register Patient</a></li>
            <li><a href="#portfolio">Fix Appointement</a></li>
            <li> <a href="/login/<%= user[0].username %>/change?table=pharmacist">Change Password</a></li>
            <% if(user){%>
              <li> <a href="/login/<%= user[0].username %>/logout">Logout&nbsp;&nbsp;(<%= user[0].username %>)</a></li>
              <% } %>           
          </ul>
         
          <div class="row" style="margin-top: 10px;">
          <a href="#" style="color:ivory;font-weight:400;text-decoration: none;">Medical System</a>
        </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
   
    <div class="row" style="margin:3%;">
            <div class="col-sm-3">
            <% if(user){%>
            <img style="width:200px;height: 180px;" src="<%= user[0].profileimage %>">
              <p><b><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;<%= user[0].name %></a></b></p>
            <% } %>
           </div>
           <div class="col-sm-8" style="margin:0%;"> 
            
             <!--  print result of serach -->
           
             <div class="container-fluid">
                <% if(status){ %>
                <h3>&nbsp;<%= status %></h3>
                <% } %>
                <% if(email){ %>
                    <div style="color: green;font-weight: 700;margin-left: 1%;" >*<%= email %></div>
                    <% } %>
                <% if(doctor){ %>
                    <% if(doctor.length > 0){ %>
                        <div class="col-sm-12">
                            <% for(var i=0;i<doctor.length;i++) { %>
                                <div class="row" style="border-bottom:2px solid gray;margin:3px;padding:5px;">
                                    <div class="col-sm-8">
                                        <div class="row" style="font-size:20px;font-weight:800;">Doctor's Id :
                                            <%= doctor[i].username %>
                                        </div>
                                        <div class="row" style="font-size:20px;font-weight:800;">Name :
                                            <%= doctor[i].name %>
                                        </div>
                                        <!-- searching for date -->
                                        <div class="row" style="font-size:20px;font-weight:800;">
                                            <% if(search){ %>
                                                   <form action="/login/<%= user[0].username %>/appointment?schedule=1&username=<%= doctor[i].username %>&name=<%= doctor[i].name %>&profileimage=<%= doctor[i].profileimage %>" method="post">
                                                    <div class="form-group">
                                                        <label >Enter Date:</label>
                                                        <input type="date" name="date" class="form-control" id="date">
                                                      </div>
                                                      <button type="submit" class="btn btn-default">Submit</button>
                                                    </form>
                                                <% } %>
                                        </div>
                                        <!-- searching for date -->
                                        <% if(!form && !appointment && !search){ %>
                                        <div class="row" style="font-size:20px;font-weight:800;">
                                            <button style="margin-top:2%;" class="btn-primary"><a style="color:whitesmoke;text-decoration: none;" href="/login/<%= user[0].username %>/appointment?search=1&username=<%= doctor[i].username %>&name=<%= doctor[i].name %>&profileimage=<%= doctor[i].profileimage %>">Fix Appointement</a></button>
                                        </div>
                                        <% } %>
                                    </div>
                                    <div class="col-sm-4"> <img style="width:200px;" src='<%= doctor[i].profileimage %>'></div>
                                </div>
                                  <!-- doctor's previous appointment-->
                                  <% if(appointment){ %>
                                    <div class="row" style="border-bottom:2px solid gray;margin:5px;padding:5px;">
                                        
                                       <div class="col-sm-3">
                                        &nbsp;&nbsp; Time - Slot
                                       </div>
                                       <div class="col-sm-3">
                                        Status
                                       </div>
                                       <div class="col-sm-3">
                                        Date
                                       </div>
                                       <div class="col-sm-3">
                                         Appointment
                                       </div>
                                    </div>
                                       <% for(var i=0;i<appointment.length;i++){ %>
                                        <div class="row" style="border-bottom:2px solid gray;margin:5px;padding:5px;">
                                           <div class="col-sm-3">
                                          *&nbsp; <%= appointment[i].slot %>
                                           </div>
                                           <div class="col-sm-3">
                                            <%= appointment[i].status %>
                                           </div>
                                           <div class="col-sm-3">
                                            <%= appointment[i].date %>
                                           </div>
                                           <div class="col-sm-3">
                                            <button type="submit" class="btn btn-default">
                                            <a href="/login/<%= user[0].username %>/appointment?form=1&slot=<%= appointment[i].slot %>&date=<%= appointment[i].date %>&username=<%= doctor[0].username %>&name=<%= doctor[0].name %>&profileimage=<%= doctor[0].profileimage %>"
                                                <% if(appointment[i].status == "Fixed"){ %>
                                                   style="pointer-events: none;
                                                   cursor: default;color:darkgreen;"
                                                <% } %>
                                                >
                                                <% if(appointment[i].status == "Fixed"){ %>
                                                   Appointment Fixed
                                                 <% } %>
                                                <% if(appointment[i].status == "Free"){ %>
                                                    Fix Appointment
                                                <% } %>
                                            
                                            </a>
                                        </button>
                                           </div>
                                        </div>
                                       <% } %>
                                    
                                    <% } %>
                                    <!-- doctor's previous appointment-->
                                    
                                <!-- form for fixing appointment-->
                                <% if(form){ %>
                                <div class="row" style="border-bottom:2px solid gray;margin:3px;padding:5px;">
                                    <form action="/login/<%= user[0].username %>/appointment?form=1&username=<%= doctor[i].username %>&name=<%= doctor[i].name %>&profileimage=<%= doctor[i].profileimage %>" method="post">
                                        <% if(date){ %>
                                        <div class="form-group">
                                            <label >Date :</label>
                                            <input type="date" class="form-control" id="email" name="date"
                                            value="<%= date %>" 
                                            <% if(patient){%>
                                                disabled
                                              <% } %>
                                            >
                                          </div>
                                          <% } %>
                                          <% if(slot){ %>
                                        <div class="form-group">
                                            <label >Slot :</label>
                                            <input type="text" class="form-control" id="email" name="slot" 
                                             value="<%= slot %>"
                                             <% if(patient){%>
                                                disabled
                                              <% } %>   
                                              >
                                          </div>
                                          <% } %>
                                        <div class="form-group">
                                          <label for="email">Patient Id :</label>
                                          <input type="text" name="patient" class="form-control" id="email"
                                          <% if(patient){%>
                                            value="<%= patient %>" disabled
                                          <% } %>      
                                            >
                                        </div>
                                        <button type="submit" class="btn btn-primary"
                                        <% if(patient){%>
                                             disabled
                                          <% } %> 
                                        >Schedule</button>
                                      </form>
                                </div>
                                <% } %>
                                <!-- form for fixing appointment-->
                                <% } %><!-- for -->
                        </div><br>
                        <% } %>
                            <% } %>                       
                </div>
             <!--  print result of serach -->
        </div>
        </div>
     
  </body>
</html>
